.answerForm {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 800px;
  margin: 60px 0;
  font-size: x-large;
}

.answerForm > input {
  padding: 12px;
  font-size: large;
  font-weight: 700;
  width: 400px;
  color: var(--blue);
  border: none;
}

.answerForm > button {
  font-family: "gyparody";
  cursor: pointer;
  border: 1px solid var(--yellow);
  border-radius: 4px;
  color: var(--yellow);
  background: var(--blue-radial-gradient);
  font-size: x-large;
  font-weight: 800;
  padding: 12px 32px;
  margin: 20px 0;
  text-shadow: 1px 1px 1px black;
}

.answerForm > button:disabled {
  background: #797979;
  color: antiquewhite;
  cursor: not-allowed;
}

.answerForm > span {
  color: var(--yellow);
  font-family: "gyparody";
  font-size: xx-large;
  text-shadow: 1px 1px 2px black;
}
