.questionContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  height: 60%;
}

.questionContainer > h2 {
  font-size: 48px;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  padding: 0 48px;
}

@media (max-width: 1000px) {
  .questionContainer > h2 {
    font-size: 36px;
  }
}

@media (max-width: 572px) {
  .questionContainer > h2 {
    font-size: 28px;
  }
}

@media (max-width: 414px) {
  .questionContainer > h2 {
    font-size: 24px;
  }
}

@media (max-height: 668px) {
  .questionContainer > h2 {
    font-size: 24px;
  }
}

@media (max-width: 414px) and (max-height: 668px) {
  .questionContainer > h2 {
    font-size: 20px;
  }
}
