.questionContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  height: 45%;
}

.questionContainer > h2 {
  font-size: 48px;
  text-align: center;
  text-shadow: 1px 1px 2px black;
}
