.topRow {
  display: flex;
  justify-content: space-around;
  width: 792px;
}

.playerScores {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 140px;
  height: 100px;
  border: 1px solid black;
  padding: 4px;
}

.menuButton {
  font-size: xx-large;
}

.categoryRow {
  display: flex;
  margin: 8px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.categoryContainer {
  width: 140px;
  height: 100px;
  text-align: center;
  border-left: 1px solid black;
}
