.topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1003px;
  margin-top: 32px;
}

.topRow > h1 {
  font-size: 52px;
  color: var(--yellow);
}

.playerScores {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 280px;
  height: 92px;
  border: 3px solid black;
  padding: 4px;
  border-radius: 4px;
  font-weight: 500;
}

.menuButton {
  font-size: 48px;
  align-self: flex-start;
  color: var(--yellow);
  text-decoration: none;
}

.border {
  padding: 16px;
  background: linear-gradient(#240080, #634bc3, #240080);
  border: 1px solid rgb(80, 64, 255);
  border-radius: 6px;
}

.categoryRow {
  display: flex;
  margin: 0 0 -2px;
  border-top: 3px solid black;
  border-left: 3px solid black;
}

.categoryContainer {
  width: 197px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  font-size: 28px;
  font-weight: 600;
  background: var(--blue-radial-gradient);
  text-shadow: 1px 1px 2px black;
}
