.categoryRow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 -2px;
  border-top: 3px solid black;
  border-left: 3px solid black;
  width: 99.8%;
  height: calc(100% / 6);
}

.categoryContainer {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  font-size: 28px;
  font-weight: 600;
  background: var(--blue-radial-gradient);
  text-shadow: 1px 1px 2px black;
}

@media (max-width: 1072px) {
  .categoryRow {
    border-top: 2px solid black;
    border-left: 2px solid black;
  }
  .categoryContainer {
    font-size: 16px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
  }
}

@media (max-width: 636px) {
  .categoryContainer {
    font-size: 10px;
  }
}
