.questionHeading {
  font-family: "gyparody";
  font-size: 64px;
  color: var(--yellow);
  text-shadow: 1px 2px 3px black;
}

@media (max-width: 1000px) {
  .questionHeading {
    font-size: 48px;
    margin: 56px 0;
  }
}
