.muteButtonContainer {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  margin: 32px 32px 0 0;
  text-shadow: gray 8px 8px 16px;
  width: 48px;
  height: 48px;
}

.muteButtonContainer > svg {
  cursor: pointer;
  fill: var(--yellow);
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

@media (max-width: 768px) {
  .muteButtonContainer {
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 414px) {
  .muteButtonContainer {
    margin: 24px 24px 0 0;
  }
}
