.menuButtonContainer {
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px;
}

.notMuted {
  background: url("/volume-on.svg");
  background-size: cover;
  width: 36px;
  height: 28px;
  border-radius: 4px;
}

.muted {
  background: url("/volume-muted.svg");
  background-size: cover;
  width: 34px;
  height: 28px;
  border-radius: 4px;
}
