.loaderContainer {
  background: url("../../public/subtle-prism.svg");
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
}

.loader {
  width: 80px;
  height: 80px;
}
