.homepageForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.difficultyHeading {
  font-size: 40px;
  text-shadow: 2px 2px 4px black;
}

.difficultySelection {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin: 0 0 20px;
  padding: 4px;
}

.difficultyButton {
  padding: 8px;
  cursor: pointer;
  text-align: center;
  font-size: 28px;
  text-shadow: 1px 1px 2px black;
}

.nameInput {
  margin: 20px 0;
}

.selected {
  color: var(--yellow);
  background: transparent;
  border: 3px solid var(--yellow);
  font-weight: 700;
  border-radius: 4px;
  cursor: default;
  text-shadow: 1px 1px 2px black;
}

.nameInput {
  padding: 12px;
  font-size: large;
  width: 440px;
  text-align: center;
}

.startButton {
  font-family: "gyparody";
  cursor: pointer;
  border: 3px solid var(--yellow);
  border-radius: 4px;
  color: var(--yellow);
  background: transparent;
  font-size: 40px;
  padding: 12px 32px;
  margin: 20px 0;
  text-shadow: 1px 1px 2px black;
}
