.playerScoresBorder {
  padding: 8px;
  background: linear-gradient(#240080, #634bc3, #240080);
  border: 1px solid rgb(80, 64, 255);
  border-radius: 6px;
}

.playerScores {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 280px;
  height: 92px;
  border: 2px solid black;
  color: var(--yellow);
  text-shadow: 1px 0.5px 1px black;
  padding: 4px;
  border-radius: 4px;
  font-weight: 700;
  background: var(--blue-radial-gradient);
}

.playerContainer {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1072px) {
  .playerScoresBorder {
    padding: 6px;
    width: 35%;
  }
  .playerScores {
    height: 64px;
    font-size: smaller;
    font-weight: 600;
    width: 100%;
    border: none;
    padding: 0;
  }
  .playerContainer {
    padding: 0 4px;
  }
}
