.topRow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 32px;
  width: 100%;
  max-width: 1096px;
}

.topRow > h1 {
  font-family: "gyparody";
  font-size: 70px;
  color: var(--yellow);
  text-shadow: 0 1px 0 #3c391e, 0 2px 0 #3c391e, 0 3px 0 #3c391e,
    0 4px 0 #3c391e, 0 5px 0 #3c391e, 0 20px 30px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.gameboardBorder {
  padding: 12px;
  margin-top: 32px;
  background: linear-gradient(#240080, #634bc3, #240080);
  border: 1px solid rgb(80, 64, 255);
  border-radius: 6px;
  width: 100%;
  max-width: 1096px;
}

@media (max-width: 1072px) {
  .topRow {
    margin-top: 80px;
  }
  .topRow > h1 {
    font-size: 55px;
  }
}

@media (max-width: 768px) {
  .topRow > h1 {
    font-size: 40px;
  }
}

@media (max-height: 636px) and (min-width: 636px) {
  .topRow {
    margin-top: 40px;
  }
}
