.valueGrid {
  display: grid;
  grid-template-columns: repeat(5, 140px);
  grid-template-rows: repeat(5, 100px);
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.valueGrid > div {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
